!!! 5

%html
  %head
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/cover/cover.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/index.js"></script>
  %body{:style=>"background-color: #{bg_color}"}
    .background-wrapper
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .inner.cover
            %h1.cover-heading#taskdisplay
              = task
            %p.lead
              %a.btn.btn-lg.btn-default#taskbutton{:href => "/task"} Press me!
              %span#countdown
          .mastfoot
            .inner