!!! 5

%html
  %head
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="initial-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/vendor/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/css/cover.css">
    <link rel="stylesheet" href="/build/css/index.css">
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo">
    <script src="/vendor/js/jquery.js"></script>
    <script src="/vendor/js/share.min.js"></script>
    <script src="/build/js/index.min.js"></script>

  %body
    %audio#bell{:src => "/sound/bell.wav", :preload => "auto"}
    .background-wrapper{ :style => "background-image: url(#{image.url})" }
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .inner.cover
            %h1.cover-heading#taskdisplay
              Random task or pick your own?
            %p.lead
              %a.btn.btn-lg.btn-success.entypo-shuffle#randomtaskbutton{:href => "#"} 
              %a.btn.btn-lg.btn-default.entypo-pencil#writetaskbutton{:href => "#"}
              %a.btn.btn-lg.btn-success#starttaskbutton{:href => "#", :style => "display:none;"} Let's do this!
              %span#timer
                %span.entypo-clock
                %span#timer-countdown
          .mastfoot
            .inner
              %span.share
              %a{:href => "https://github.com/juliaguar/random_task", :target => "_blank"}
                with <span class="entypo-heart-empty biggericon"></span> from berlin
              %br
              %span.entypo-camera.biggericon
              %span#imagecredits
                %a#imagelicense{:href => image.license.url, :target => '_blank'}
                  = image.license.html_string
                %a#imageauthor{:href => image.author_url, :target => 'blank'}
                  = image.author_name
              %span <span class="entypo-dot"></span> <span class="entypo-note biggericon"></span>  <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank"><span class="entypo-cc"></span><span class="entypo-cc-by"></span> <a href="http://www.freesound.org/people/gabstero/" target="_blank">gabstero</a>
              %span <span class="entypo-dot"></span>   <span class="entypo-check biggericon"></span>  <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank"><span class="entypo-cc"></span><span class="entypo-cc-by"><span class="entypo-cc-sa"></span> <a href="http://www.entypo.com/" target="_blank">daniel bruce</a></span> 