body {
	overflow: hidden;
}

.background-wrapper {
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
}

.site-wrapper {
	position: relative;
}

.mastfoot, .mastfoot a {
	color: rgba(255,255,255,.7);
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}
.mastfoot a:hover {
	color: rgba(255,255,255,.9);
	text-decoration: none;
}

#timer {
	display: none;
}

[class*=entypo-]:before {
	font-family: entypo,sans-serif;
}

.biggericon {
	font-size: 1.2em;
}